################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DBSnapshotAnalyzer
/DBSnapshotAnalyzer.Console/.vs
/DBSnapshotAnalyzer.Console/bin/Debug/net7.0
/DBSnapshotAnalyzer.Console/obj
/DBSnapshotAnalyzer.Snapshot/bin/Debug/net7.0
/DBSnapshotAnalyzer.Snapshot/obj
/DBSnapshotAnalyzer.Snapshot.UT/obj
/.vs
/DBSnapshotAnalyzer.Compare/bin/Debug/net7.0
/DBSnapshotAnalyzer.Compare/obj
/DBSnapshotAnalyzer.Compare.UT/bin/Debug/net7.0
/DBSnapshotAnalyzer.Compare.UT/obj
/DBSnapshotAnalyzer.Snapshot.UT/bin/Debug/net7.0
/DBSnapshotAnalyzer.Common/bin/Debug/net7.0
/DBSnapshotAnalyzer.Common/obj
/DBSnapshotAnalyzer.Common.UT/obj
/DBSnapshotAnalyzer.Common.UT/bin/Debug/net7.0
/Examples/bin/Debug/net7.0
/Examples/obj
